#Calcular{

    width:100px;
    height: 40px;
    font-size: 15px;
    border-style: double;
    justify-content: center;
}
#a{

    width:50px;
    height: 30px;
    font-size: 15px;
    border-style: solid;
    border-color: purple;
}
#b{

    width:50px;
    height: 30px;
    font-size: 15px;
    border-style: solid;
    border-color: turquoise;
}
#c{

    width:50px;
    height: 30px;
    font-size: 15px;
    border-style: solid;
    border-color: red;
}
#d{

    width:50px;
    height: 30px;
    font-size: 15px;
    border-style: solid;
    border-color: blue;
}
#e{

    width:50px;
    height: 30px;
    font-size: 15px;
    border-style: solid;
    border-color: green;
}
#resultado{

    font-size: 30px;
}